html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.messages-container div
{
    margin: 5px 0px;
}
.message img {
    margin: 5px;
}

.message {
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 0px;
}

.message-date
{
    color: gray;
    font-style:italic;
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: block;
}