html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.messages-container
{
    background-color: crimson;
}

.message {
    background-color: white;
    border-radius: 10px;
}

.message-date
{
    color: gray;
    font-style:italic;
}